// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic',sans-serif;
$heading-font-family: 'Noto Kufi Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #5718c4;
$card-border-width:'0px';
$btn-border-radius: 'none';